.clock-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
  text-align: center;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  width: 60%;
}
